/* CUSTOM STYLES HERE */
html, body {
    height: 100%;
  }
  
  .min-100 {
      min-height: 100%;
  }

.overflow{
   height: 100%;
    overflow-y: scroll;
}

.button{
    background-color: #444444;
    color: #fff;
    min-width: 100%;
    text-transform: uppercase;
}

.map-placeholder{
    background-color: #d8d8d8;
    text-align: center;
    height: 100%;
}
.hours{
    color: #32a88c;
}
#locations{
    height: 50%;
}

.footer-nav button{
height: 80px;
background-color: #fff;
color: #F9980D;
border: none;
border-radius: 0;
position: relative;
z-index: 1035;
}

.footer-nav .active{
    background-color: #F9980D;
    color: #fff;
    border: none;
    }

.nav-link{
    color: #444444;
}


@media (max-width: 768px){
    .body{
        width: 100%;
        padding: 0;
        max-width: none;
    }
    .navbar{
        background-color: #444444;
    }
    .navbar a{
        color: #fff;
    }
    #nav-text{
        display: none;
    }
    .navbar .nav-link img{
        filter: brightness(0);
        filter:invert(1);
    }

    .navbar i{
        display: inline;
    }
    .overflow{
        border: 0 !important;
    }
    #locations{
        height: 100%;
    }
    }
