/* CUSTOM STYLES HERE */

html, body {
    height: 100%;
  }
  
  .min-100 {
      min-height: 100%;
  }

.overflow{
   height: 100%;
    overflow-y: scroll;
}
.info{
    color: #F9980D;
}

.modal, .modal-backdrop {
    position: absolute !important;
}

#modalHero{
    object-fit: fill;
}
.button{
    background-color: #444444;
    color: #fff;
    min-width: 100%;
    text-transform: uppercase;
}
.button:hover{
    color: #fff;
}

.map-placeholder{
    background-color: #d8d8d8;
    text-align: center;
    height: 100%;
}
.map-wrap{
    position: relative;
    overflow: hidden;
}
.map{
    width: 100%;
    object-fit:fill;

}
.hours{
    color: #32a88c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#locations{
    height: 70%;
}

td{
    padding-right: 20px;
}
.footer-nav button{
height: 80px;
background-color: #fff;
color: #F9980D;
border: none;
border-radius: 0;
position: relative;
z-index: 1035;
}

.footer-nav .active{
    background-color: #F9980D;
    color: #fff;
    border: none;
    }

.nav-link{
    color: #444444;
}
.list-group-item.active {
    z-index: 2;
    background-color: #eeee;
    color: #444444
}

@media (max-width: 768px){
    .body{
        width: 100%;
        padding: 0;
        max-width: none;
    }
    .navbar{
        background-color: #444444;
    }
    .navbar a{
        color: #fff;
    }
    #nav-text{
        display: none;
    }
    .navbar .nav-link img{
        filter: brightness(0);
        filter:invert(1);
    }
    .map{
        width: 100%;
        object-fit: fill;
    }
    .navbar i{
        display: inline;
    }
    .overflow{
        border: 0 !important;
    }
    #locations{
        height: 100%;
    }
    }
    @media (min-width: 769px){
        #locations-list, .map-wrap{
            display: inline !important;
        }
        }